.h1, .h2, .h3, h1, h2, h3 {
    font-weight: 800;
}

.h1.quote-first{
  font-size: 3.8rem;margin: 0;
}
.h2.quote-second{
  font-size: 2.4rem;margin: 0;
}
.h1.quote-last{
  font-size: 3.5rem;
}

#header-main{
  margin-top: 38px;
}

#navbar-logo{
  height:3.5rem
}

.top-bar{
  height: 40px;
  background: #ffffff;
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  border-bottom: 1px solid #020202;
}

.top-bar .row{
  width: 100%;
}

.top-bar .nav-link{
  font-size: 14px!important;
  text-transform: none!important;
  padding: 0 1rem!important;
  color: #020202;
}

.top-bar ul.navbar-nav{
  float: right;
  flex-direction: row;
}

.text-jcc-blue{
    color: #03a9f4;
}

.bg-jcc-blue{
    background-color: #03a9f4;
}
.bg-jcc-black{
  background-color: #141920;
}

.btn-jcc-blue{
    background-color: #03a9f4;
    color: #ffffff;
    border-color: #03a9f4;
}


.btn-jcc-blue:hover {
    color: #ffffff;
    background-color: #1a90c5;
}

.fill-section-jcc-blue{
    fill: #03a9f4!important;
}

.client img {
    max-width: 8rem;
   
}

.plan-img{
  max-width: 70%;
  margin: auto;
  display: block;
}

.client-container{
    width: 150px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    padding: 15px;
}

.bg-light-gray{
    background-color: #f7f7f7;
}

.bg-dark-blue{
    background-color: #181d25;
}

.nav-link{
    text-transform: uppercase!important;
    font-weight: 800!important;
    font-size: 15px!important;
    /* color: #1e242b!important; */
}

.navbar-light .navbar-nav .nav-link{
    color: #1e242b;
}

.custom-mask{
    opacity: 0.7;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: ' ';
}

.custom-mask.black{
    background-color: #000000;
}

.custom-mask.red{
    background-color: #f2f2f2;
}

.blockquote-card.warning{
    border-left: .5rem solid #ffbe3c!important;
}

.btn-icon-only.btn-lg.testimonial{
    width: 6rem;
    height: 6rem;
}

.head-btn{
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 20px;
}

.fill-section-black {
    fill: #181d25 !important;
}


/*-------------------------------------------------------------------------*/
/* Video Styles
/*-------------------------------------------------------------------------*/
.video-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0.6;
}
video#bgvid{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/home/parallax_d_.jpg) no-repeat;
    background-size: cover;
}
.video-overlay.home{
    background: #141719;
}

.video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video iframe {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

.background-video {
  background-position: top center;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

video,
source {
  bottom: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* bottom alert */
.bottom-alert {
    position: fixed;
    z-index: 666666666;
    left: 0px;
    zoom: 1;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: visible;
    border: 0px;
    border-radius: 0px;
    float: none;
    letter-spacing: normal;
    outline: none;
    text-decoration: none;
    text-indent: 0px;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    line-height: 1;
    font-family: helvetica, arial, san-serif;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none;
    min-height: 1px;
    display: block;
    bottom: 0px;
    transition: bottom 0.3s ease 0s;
}

.bottom-alert .bg{
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-color: #b1bacb;
    border-style: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    box-shadow: 0px 0px 0px 0px #ffffff;
    position: relative;
}

.bottom-alert .alert-close{
    font-weight: 800;
    position: absolute;
    color: #2c2c2c;
    z-index: 9999999;
    top: 10px;
    right: 10px;
}
.space{
  background: #FAFBFE;
  height: 75px;
}


/*-------------------------------------------------------------------------*/
/* Custom Icon fonts
/*-------------------------------------------------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:  url('icomoon/icomoon.eot?ac1dcx');
    src:  url('icomoon/icomoon.eot?ac1dcx#iefix') format('embedded-opentype'),
      url('icomoon/icomoon.ttf?ac1dcx') format('truetype'),
      url('icomoon/icomoon.woff?ac1dcx') format('woff'),
      url('icomoon/icomoon.svg?ac1dcx#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  [class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icomoon-laptop:before {
    content: "\e918";
    
  }
  .icomoon-camera:before {
    content: "\e919";
    
  }
  .icomoon-calculator:before {
    content: "\e91a";
    
  }
  .icomoon-clock:before {
    content: "\e91b";
    
  }
  .icomoon-composition_shingles:before {
    content: "\e900";
    
  }
  .icomoon-gutters-services:before {
    content: "\e901";
    
  }
  .icomoon-contact:before {
    content: "\e902";
    
  }
  .icomoon-book_visit:before {
    content: "\e903";
    
  }
  .icomoon-submit_details:before {
    content: "\e904";
    
  }
  .icomoon-cleaning_maintenance:before {
    content: "\e905";
    
  }
  .icomoon-gutter_installation:before {
    content: "\e906";
    
  }
  .icomoon-leak_free:before {
    content: "\e907";
    
  }
  .icomoon-roof_repair:before {
    content: "\e908";
    
  }
  .icomoon-residential_roofing:before {
    content: "\e909";
    
  }
  .icomoon-transparency:before {
    content: "\e90a";
    
  }
  .icomoon-workmanship:before {
    content: "\e90b";
    
  }
  .icomoon-integrity:before {
    content: "\e90c";
    
  }
  .icomoon-professionalism:before {
    content: "\e90d";
    
  }
  .icomoon-superior_roofing:before {
    content: "\e90e";
    
  }
  .icomoon-care:before {
    content: "\e90f";
    
  }
  .icomoon-money_problem:before {
    content: "\e910";
    
  }
  .icomoon-hand_nailed:before {
    content: "\e911";
    
  }
  .icomoon-technology:before {
    content: "\e912";
    
  }
  .icomoon-certified:before {
    content: "\e913";
    
  }
  .icomoon-about_you:before {
    content: "\e914";
    
  }
  .icomoon-lifetime_roofing:before {
    content: "\e915";
    
  }
  .icomoon-quality_reliability:before {
    content: "\e916";
    
  }
  .icomoon-roofing_services:before {
    content: "\e917";
    
  }

  .custom-icon-big{
    font-size: 5rem;
  }

  .custom-icon-med{
    font-size: 3rem;
  }

  .custom-icon-list{
    font-size: 3.5rem!important;
  }

  .list-icomoon-one{
    font-size: 20px; 
    margin-right: 10px; 
  }

  .list-icomoon-two{
    font-size: 30px; 
    margin-right: 10px; 
  }

  @font-face {
    font-family: 'caveatbold';
    src: url('../fonts/caveat/caveat-bold-webfont.woff2') format('woff2'),
         url('../fonts/caveat/caveat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

  iframe{
    margin: 0 auto!important;
    display: block!important;
  }

  .card-transparent{
    background: transparent!important;
    box-shadow: none!important;
    border: none!important;
  }

  .static-rating .voted{
    fill: #ffc431;
  }

  .italic-custom{
    font-family: 'caveatbold';
    font-size: 38px;
  }

  .footer-contact, .footer-contact a{
    font-size: .875rem;
    color: #a0aec0!important;
    margin-bottom: 0;
  }

  .inline-img-logo{
    width: 100%
  }

  .mobile-top-copy{
    font-size: 16px;
    line-height: 1;
    text-align: center;
    color: #2c2c2c;
    padding: 0;
    margin: 0;
  }

  .mobile-top-cta{
    padding: 5px 15px;
    font-size: 13px;
  }

  .py-responsive{
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, .85);
    border-color: transparent;
}

/*-------------------------------------------------------------------------*/
/* Color Schemes
/*-------------------------------------------------------------------------*/

.bg-one{
  background-color: #d69145;
}
.bg-two{
  background-color: #c3734c;
}
.bg-three{
  background-color: #88b058;
}
.bg-four{
  background-color: #4c9fb2;
}
.bg-five{
  background-color: #584e43;
}



/*-------------------------------------------------------------------------*/
/* Responsive Styles
/*-------------------------------------------------------------------------*/

@media(max-width: 425px){
  .header-transparent + section{
    padding-top: 6rem !important;
  }

  #navbar-logo{
    height:2.5rem
  }

  .h1.quote-first{
    font-size: 3.8rem;
    margin: 0;
    line-height: 1!important;
  }
  h2.quote-second{
    font-size: 1.4rem;
    margin: 0!important;
  }
  .h1.quote-last{
    font-size: 2.1rem;
  }

  .navbar-collapse li{
    margin-bottom: 0!important;
  }
  .navbar-collapse a{
    padding: 0!important;
  }

  .workmanship-logo{
    max-width: 65%;
    display: block;
    margin: auto;
  }

  .center-on-mobile {
    text-align: center;
  }

  .inline-form {
    margin-top: 1rem; 
  }

  .map{
    padding: 40px;
  }
}

@media(min-width: 1200px) and (max-width: 1560px){
  .navbar-nav .nav-link{
    font-size: 15px!important;
  }
  .header-transparent+section{
    padding-top: 9rem!important;
  }
}

/* ============================================================*/
/* Preloader
/* ============================================================*/
@keyframes hidePreloader {
  0% {
      width: 100%;
      height: 100%;
  }
  100% {
      width: 0;
      height: 0;
  }
}
body>div.preloader {
  position: fixed;
  background: white;
  width: 100%;
  height: 100%;
  z-index: 1071;
  opacity: 0;
  transition: opacity .5s ease;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
body:not(.loaded)>div.preloader {
  opacity: 1;
}
body:not(.loaded) {
  overflow: hidden;
}
body.loaded>div.preloader {
  animation: hidePreloader .5s linear .5s forwards;
}


